<h1>Ask the question</h1>
<div>
  <%= form_with url: '/questions', method: :post do |form| %>
    <label for="question">Your Question:</label>
    <%= form.text_field :question, id: 'question' %>
    <%= form.submit 'Ask!' %>
  <% end %>
</div>


<%= @answer %>
<br>

<%= link_to "Ask Another Question", questions_path %>
